<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hospital Management</title>
    <link rel="stylesheet" href="/index.css">


</head>
<body class="body">
<div class="background-image">
    
    <div class="card-container">
        <div class="welcome-card">
            <h1>Welcome</h1>

            <a th:href="@{/create}" class="btn btn-primary">Register Patient</a>
            <a th:href="@{/add}" class="btn btn-success">Register Doctor</a>
            <a class="a" th:href="@{/patients}">Patient List</a>
            <a class="a" th:href="@{/doctors}">Doctor List</a>
        </div>
    </div>

</div>










</body>
</html>